*{
    margin: 0;
    padding: 0;
}
nav{
    display: flex;
    background-color:rgb(3,31,66);
    justify-content: space-between;
    padding: 13px;
    border-bottom: 4px solid #401E63;
    position: sticky;
    top: 0;
    
}
.logo h2{
   color: white;
   margin-left: 26px;
}
.logo span{
    color: red;
    font-size: larger;
}
ul{
  display: flex;
 
}
ul li{
   list-style: none;
}
ul li a{
   text-decoration: none;
   color: aliceblue;
   padding: 0 16px;
   font-size: 20px;
   margin-right: 22px;
}
ul li a:hover{
    background-color: rgb(6, 6, 173);
    color: red;
    padding: 5px 10px;
    border-radius: 10px;
    transition: 0.5s;
    
}

/* hero area start */
.searchbox-parent{
     background-image: url('image/background\ img.avif');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    padding: 150px 0;
}
.searchbox-parent{
    display: flex;
    justify-content: center;
    
}
.searchbox-parent i{
    color: aliceblue;
    background-color: red;
    font-size: 26px;
    padding: 5px 11px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    cursor: pointer;
}
.searchbox-parent input{
    width: 500px;
    height: 37px;
    border-radius: 4px;
    margin-right: 4px;
    font-size: 22px;
    padding-left: 14px;
}

/* main section start */
main{
    background-color: #3a0271;
    
   
}
.image-container{
    width: 1200px;
    margin: auto;
    padding: 50px 0;
  
    
}
.parent{
    display: flex;
    justify-content: space-between;
   

}
.parent h3{
    color: rgb(11, 251, 11);
    font-size: 22px;
}
.parent h4{
     color: rgb(11, 251, 11);                                                   
}
.parent h4 span{
    background-color: antiquewhite;
    color: black;
    padding: 3px;
    border-radius: 4px;
    margin: 0 5px;
    cursor: pointer;
}

.imagediv-parent{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-row: 28px;
    margin-top: 43px;
}
.single-image img{
    width: 280px;
    height: 200px;
    border-radius: 11px;
    margin-top: 35px;
   transition: 0.5s;
   cursor: pointer;
}
.single-image:hover img{
   transform: scale(1.1);
   border-radius: 7px;
}
.single-image div{
    display: flex;
    justify-content: space-around;
    color: rgb(230, 219, 219);
    margin-top: 9px;
}

.previous-parent{
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
    color: white;
}
.previous-parent h3 a{
    text-decoration: none;
    color: white;
   text-align: center;
    
}

.previous-parent h3{
    background-color: #059e65;
    padding: 8px;
    border-radius: 6px;
    transition: 0.4s;
}
.previous-parent h3:hover{
    background-color: #097a50;
}
.previous-parent div a{
    text-decoration: none;
    background-color: aliceblue;
    color: black;
    margin: 0 8px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid gray;
}
.previous-parent div a:first-child{
    background-color: #059e65;
    color: white;
}

/* footer container start */
footer{
    background-color: #6c107b;
    color: white;
    padding: 65px 0;
}
.footer-container{
    width: 900PX;
    
   
}
.footer-parent{
    display: grid;
   grid-template-columns: repeat(3, 1fr);
   justify-content: space-between;
    margin: 0 auto;
    margin-left: 100px;
    grid-gap: 44px;
}
.footer-first p{
    margin: 20px 0;
}
.lorem{
    font-size: 15px;
}
.footer-second p{
    margin: 17px 0;
}
.footer-second{
    margin-left: 82px;
}
.footer-third p{
    margin: 20px 0;
}
.footer-third{
    margin-left: 42px;
}
.footer-third div i{
    margin: 0 8px;
    background-color: #059e65;
    padding: 5px;
    border-radius: 5px;
    font-size: 20px;
    
}
.copy{
    font-size: 15px;
}